#display{
    display:block;
    text-align: center;
    font-size: 5em;
    
}

#btncontainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px  ;
    font-size: 1.5em;
    color: white;
    background-color: rgb(54, 54, 143);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:  rgb(34, 34, 90);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#myButton{
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 3em;
}

#myLabel{
    font-size: 3em;
}