
#display{
    display:block;
    text-align: center;
    font-size: 5em;
    
}

#btncontainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px  ;
    font-size: 1.5em;
    color: white;
    background-color: rgb(54, 54, 143);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:  rgb(34, 34, 90);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#myButton{
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 3em;
}

#myLabel{
    font-size: 3em;
}


form{
    background-color: aquamarine;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

#textbox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
}

button{
    margin-top: 15px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(136, 136, 136);
}


#res{
    font-size: 1.5em;
}

#container {
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight:bold;
}

#diceResult{
    margin:25px;

}

#diceimgs img{
    width:150px;
    margin: 5px;
}